.so-widget-sow-icon-default-b26a58bf3b12 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-b26a58bf3b12 .sow-icon span,
.so-widget-sow-icon-default-b26a58bf3b12 .sow-icon a span {
  display: inline-block;
  color: #000000 !important;
  font-size: 20px !important;
}